[workspace]

members = [
    "dispatch_examples/greeter",
    "fvm_dispatch",
    "fvm_dispatch/hasher",
    "fvm_dispatch/macros",
    "fvm_dispatch/macros/example",
    "fvm_dispatch_tools",
    "fil_fungible_token",
    "testing/fil_token_integration",
    "testing/fil_token_integration/actors/basic_token_actor"
]