[workspace]

members = [
    "dispatch_examples/greeter",
    "frc42_dispatch",
    "frc42_dispatch/hasher",
    "frc42_dispatch/macros",
    "frc42_dispatch/macros/example",
    "frc46_token",
    "frcxx_nft",
    "fvm_actor_utils",
    "fvm_dispatch_tools",
    "testing/fil_token_integration",
    "testing/fil_token_integration/actors/basic_nft_actor",
    "testing/fil_token_integration/actors/basic_receiving_actor",
    "testing/fil_token_integration/actors/basic_token_actor",
    "testing/fil_token_integration/actors/basic_transfer_actor",
    "testing/fil_token_integration/actors/frc46_test_actor",
    "testing/fil_token_integration/actors/frcxx_test_actor",
    "token_examples/include_token"
]

[patch.crates-io]
# tracking issue: https://github.com/bitvecto-rs/funty/issues/7
funty = { git = "https://github.com/bitvecto-rs/funty/", rev = "7ef0d890fbcd8b3def1635ac1a877fc298488446" }
