[package]
name = "frc42_dispatch"
description = "Filecoin FRC-0042 calling convention/dispatch support library"
version = "0.2.0"
license = "MIT OR Apache-2.0"
keywords = ["filecoin", "dispatch", "frc-0042"]
repository = "https://github.com/helix-onchain/filecoin/"
edition = "2021"


[dependencies]
fvm_ipld_encoding = { version = "0.2.2" }
fvm_sdk = { version = "1.0.0", optional = true }
fvm_shared = { version = "0.8.0" }
macros = { path = "macros" }
frc42_hasher = { version = "0.1.0", path = "hasher" }
thiserror = { version = "1.0.31" }

[features]
default = ["dep:fvm_sdk"]
no_sdk = [] # avoid dependence on fvm_sdk (for proc macro and similar purposes)